Implement headers

headers should be an extensible concept.

Consider having a module for each header eg `Raxx.ContentType` then other libraries can just implement `Raxx.XMyHeader`

- Should we implement a behaviour module for a generic header?

### core headers

- RFC 7230
- [x] [Transfer-Encoding](https://tools.ietf.org/html/rfc7230#section-3.3.1)
- [x] [Content-Length](https://tools.ietf.org/html/rfc7230#section-3.3.2)
- [ ] [Trailer](https://tools.ietf.org/html/rfc7230#section-4.4)
- [ ] [Host](https://tools.ietf.org/html/rfc7230#section-5.4)
- [ ] [Via](https://tools.ietf.org/html/rfc7230#section-5.7.1)
- [x] [Connection](https://tools.ietf.org/html/rfc7230#section-6.1)
- [ ] [Upgrade](https://tools.ietf.org/html/rfc7230#section-6.7)

- RFC 7231
- [ ] [Content-Type](https://tools.ietf.org/html/rfc7231#section-3.1)
- [ ] [Content-Encoding](https://tools.ietf.org/html/rfc7231#section-3.1)
- [ ] [Content-Language](https://tools.ietf.org/html/rfc7231#section-3.1)
- [ ] [Content-Location](https://tools.ietf.org/html/rfc7231#section-3.1)
- [ ] [Expect](https://tools.ietf.org/html/rfc7231#section-5.1.1)
- [ ] [Max-Forwards](https://tools.ietf.org/html/rfc7231#section-5.1.2)
- [ ] [Accept](https://tools.ietf.org/html/rfc7231#section-5.3.2)
- [ ] [Accept-Charset](https://tools.ietf.org/html/rfc7231#section-5.3.3)
- [ ] [Accept-Encoding](https://tools.ietf.org/html/rfc7231#section-5.3.4)
- [ ] [Accept-Language](https://tools.ietf.org/html/rfc7231#section-5.3.5)
- [ ] [From](https://tools.ietf.org/html/rfc7231#section-5.5.1)
- [x] [Referer](https://tools.ietf.org/html/rfc7231#section-5.5.2)
- [x] [User-Agent](https://tools.ietf.org/html/rfc7231#section-5.5.3)
- [ ] [Date](https://tools.ietf.org/html/rfc7231#section-7.1.1.2)
- [x] [Location](https://tools.ietf.org/html/rfc7231#section-7.1.2)
- [ ] [Retry-After](https://tools.ietf.org/html/rfc7231#section-7.1.3)
- [ ] [Vary](https://tools.ietf.org/html/rfc7231#section-7.1.4)
- [ ] [Allow](https://tools.ietf.org/html/rfc7231#section-7.4.1)
- [x] [Server](https://tools.ietf.org/html/rfc7231#section-7.4.2)

- RFC 7232
- [ ] [Last-Modified](https://tools.ietf.org/html/rfc7232#section-2.2)
- [ ] [ETag](https://tools.ietf.org/html/rfc7232#section-2.3)
- [ ] [If-Match](https://tools.ietf.org/html/rfc7232#section-3.1)
- [ ] [If-None-Match](https://tools.ietf.org/html/rfc7232#section-3.2)
- [ ] [If-Modified-Since](https://tools.ietf.org/html/rfc7232#section-3.3)
- [ ] [If-Unmodified-Since](https://tools.ietf.org/html/rfc7232#section-3.4)
- [ ] [If-Range](https://tools.ietf.org/html/rfc7232#section-3.5)

- RFC 7233
- [ ] [Accept-Ranges](https://tools.ietf.org/html/rfc7233#section-2.3)
- [ ] [Range](https://tools.ietf.org/html/rfc7233#section-3.1)
- [ ] [If-Range](https://tools.ietf.org/html/rfc7233#section-3.2)

- RFC 7234
- [ ] [Age](https://tools.ietf.org/html/rfc7234#section-5.1)
- [ ] [Cache-Control](https://tools.ietf.org/html/rfc7234#section-5.2)
- [ ] [Expires](https://tools.ietf.org/html/rfc7234#section-5.3)
- [ ] [Pragma](https://tools.ietf.org/html/rfc7234#section-5.4)
- [ ] [Warning](https://tools.ietf.org/html/rfc7234#section-5.5)

- RFC 7235
- [ ] [WWW-Authenticate](https://tools.ietf.org/html/rfc7235#section-4.1)
- [ ] [Authorization](https://tools.ietf.org/html/rfc7235#section-4.2)
- [ ] [Proxy-Authenticate](https://tools.ietf.org/html/rfc7235#section-4.3)
- [ ] [Proxy-Authorization](https://tools.ietf.org/html/rfc7235#section-4.4)

- RFC 6265
- [x] [Set-Cookie](https://tools.ietf.org/html/rfc6265#section-4.1)
- [x] [Cookie](https://tools.ietf.org/html/rfc6265#section-4.2)

Headers have a standard behaviour

```elixir
defmodule Location do
  @behaviour Header
  def fetch
  def set
  def merge
  def all
end
```

can be imported into Raxx

Raxx.fetch_location, Raxx.fetch_cookie



[Cookie](https://hex.pm/packages/cookie) implements the headers from RFC 6265